<div *ngIf="connected" class="container">
  <div class="row" style="height: 150px">
    <div class="col">
      <h1>{{player1}}</h1>
      <span class="bust other" *ngIf="player1Hand && busted[1]">{{player1Hand}}</span>
      <span class="score other" *ngIf="player1Hand && !busted[1]">{{player1Hand}}</span>
    </div>
    <div class="col">
      <h1>You</h1>
      <span class="bust" *ngIf="lastHand && busted[0]">{{lastHand}}</span>
      <span class="score" *ngIf="lastHand && !busted[0]">{{lastHand}}</span>
    </div>
    <div class="col">
      <h1>{{player2}}</h1>
      <span class="bust other" *ngIf="player2Hand && busted[2]">{{player2Hand}}</span>
      <span class="score other" *ngIf="player2Hand && !busted[2]">{{player2Hand}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col" style="color: powderblue">
      <span *ngFor="let i of p1top">
        <img src="{{i}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
    <div class="col">
      <span *ngFor="let i of top; let o = index">
        <img (click)="grab(i, top, o)" src="{{i.image}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
    <div class="col" style="color: powderblue">
      <span *ngFor="let i of p2top">
        <img src="{{i}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col" style="color: powderblue">
      <span *ngFor="let i of p1mid">
        <img src="{{i}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
    <div class="col">
      <span *ngFor="let i of mid; let o = index">
        <img (click)="grab(i, mid, o)" src="{{i.image}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
    <div class="col" style="color: powderblue">
      <span *ngFor="let i of p2mid">
        <img src="{{i}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col" style="color: powderblue">
      <span *ngFor="let i of p1bot">
        <img src="{{i}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
    <div class="col">
      <span *ngFor="let i of bot; let o = index">
        <img (click)="grab(i, bot, o)" src="{{i.image}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
    <div class="col" style="color: powderblue">
      <span *ngFor="let i of p2bot">
        <img src="{{i}}" style="height: 150px; border:1px solid black">
      </span>
    </div>
  </div>

  <div class="row" style="height: 94px">
    <div class="col" style="color: powderblue">
      F
    </div>
    <div class="col">
      <button class="btn green" *ngIf="done == 0" (click)="submit()">Submit</button>
      <span class="status" *ngIf="done == 2">Waiting for other players...</span>
      <button class="btn green" *ngIf="done == 3" (click)="ready()">Next Game</button>
    </div>
    <div class="col" style="color: powderblue">
      F
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="status">
        <span>Game Round: {{round}}</span><br>
        <span>Games Played: {{gamesPlayed}}</span>
      </div>
    </div>
    <div class="col">
      <img (click)="grab(you[0], you, 0)" src="{{you[0].image}}" style="height: 150px; border:1px solid black">
      <img (click)="grab(you[1], you, 1)" src="{{you[1].image}}" style="height: 150px; border:1px solid black">
      <img (click)="grab(you[2], you, 2)" src="{{you[2].image}}" style="height: 150px; border:1px solid black">
      <img (click)="grab(you[3], you, 3)" src="{{you[3].image}}" style="height: 150px; border:1px solid black">
      <img (click)="grab(you[4], you, 4)" src="{{you[4].image}}" style="height: 150px; border:1px solid black">
      <br>
      <!-- <button class="btn" (click)="draw()">Draw</button> -->
      <button class="btn" *ngIf="user == 'Lee'" (click)="reset(false)">Reset</button>
    </div>
    <div class="col" style="color: powderblue">
      F
    </div>
  </div>
</div>

<div *ngIf="!connected" class="container">
  <div class="row" style="padding-top: 10%">
    <div class="col" style="color: powderblue">F</div>
    <div class="col" style="font-size: 100px">
      Enter Name
      <input [(ngModel)]="user" (keyup)="checkEnter($event)" type="text" id="user" class="form-control"
        style="height: 50px; width: 300px; font-size: 45px">
      <br>
      <button class="btn" (click)="connect()">Connect</button>
    </div>
    <div class="col" style="color: powderblue">F</div>
  </div>
</div>